<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>corso.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2953AF872803FFEA00396B74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2953AF9D2803FFEB00396B74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2953AFA72803FFEB00396B74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
